<section>

    <section class="m-padding">
        <h5>Local tunnel <small [innerHtml]="localTunnelResponse.url || 'Local tunnel is not started'"></small></h5>

        <div class="Flex">
            <button (click)="localTunnelStart()"
                    [disabled]="localTunnelResponse.ready"
                    class="btn btn-success btn-fill Flex">

                Start
                <span *ngIf="localTunnelResponse.isLoading"
                      class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
            </span>
            </button>
            <button (click)="localTunnelClose()"
                    [disabled]="!localTunnelResponse.ready"
                    class="btn btn-default u-margin-left">

                Stop
            </button>
        </div>

        <small>Becareful ! you should use the local tunnel only on your local manchine</small>
    </section>

    <section class="animated-hover-shadow-radial m-padding">
        <h5>Register callback url</h5>

        <div class="Flex Flex-column">
            <div class="Flex Flex-row">
                <button (click)="registerCallback()" class="btn btn-info u-margin-bottom m-width-lg Flex m-justify-center">
                    Register a new callback url
                    <span *ngIf="sttRegisterCallbackResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <button class="btn u-margin-left" (click)="openModal(lgModal, 'registerCallback')">Parameters</button>
            </div>

            <pre class="prettyprint Flex-1 u-margin-top" [innerHtml]="sttRegisterCallbackResponse.data || defaultResponse"></pre>
        </div>
    </section>

    <section class="animated-hover-shadow-radial m-padding">
        <h5>Create job</h5>

        <div class="Flex Flex-column">
            <div class="Flex Flex-row">
                <button (click)="createRecognitionJob()" class="btn btn-info u-margin-bottom m-width-lg Flex m-justify-center">
                    Create new job
                    <span *ngIf="sttCreateRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <button class="btn u-margin-left" (click)="openModal(lgModal, 'createRecognitionJob')">Parameters</button>
            </div>

            <pre class="prettyprint Flex-1 u-margin-top" [innerHtml]="sttCreateRecognitionJobResponse.data || defaultResponse"></pre>
        </div>
    </section>

    <section class="animated-hover-shadow-radial m-padding">
        <h5>Get jobs</h5>

        <div class="Flex Flex-column">
            <div class="Flex Flex-row">
                <button (click)="getRecognitionJobs()" class="btn btn-info u-margin-bottom m-width-lg Flex m-justify-center">
                    Get all jobs
                    <span *ngIf="sttGetRecognitionJobsResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
            </div>

            <pre class="prettyprint Flex-1 u-margin-top" [innerHtml]="sttGetRecognitionJobsResponse.data || defaultResponse"></pre>
        </div>
    </section>

    <section class="animated-hover-shadow-radial m-padding">
        <h5>Get job</h5>

        <div class="Flex Flex-column">
            <div class="Flex Flex-row">
                <button (click)="getRecognitionJob()" class="btn btn-info u-margin-bottom m-width-lg Flex m-justify-center">
                    Get a specific job
                    <span *ngIf="sttGetRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <button class="btn u-margin-left" (click)="openModal(lgModal, 'getJob')">Parameters</button>
            </div>

            <pre class="prettyprint Flex-1 u-margin-top" [innerHtml]="sttGetRecognitionJobResponse.data || defaultResponse"></pre>
        </div>
    </section>

    <section class="animated-hover-shadow-radial m-padding">
        <h5>Delete job</h5>

        <div class="Flex Flex-column">
            <div class="Flex Flex-row">
                <button (click)="deleteRecognitionJob()" class="btn btn-info u-margin-bottom m-width-lg Flex m-justify-center">
                    Delete a job
                    <span *ngIf="sttDeleteRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <button class="btn u-margin-left" (click)="openModal(lgModal, 'deleteJob')">Parameters</button>
            </div>

            <pre class="prettyprint Flex-1 u-margin-top" [innerHtml]="sttDeleteRecognitionJobResponse.data || defaultResponse"></pre>
        </div>
    </section>
</section>

<!-- Parameters modal -->
<div *ngIf="isModalOpen" class="modal-backdrop in"></div>
<div bsModal="bsModal"
     #lgModal="bs-modal"
     class="modal fade" [config]="{backdrop: false}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="closeModal(lgModal)" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Manage parameters</h4>
            </div>
            <div class="modal-body">
                <div class="form-group Flex Flex-column">
                    <div class="form-group Flex-1" *ngIf="parameters.userSecret.show">
                        <label for="userSecret">User secret</label>
                        <input [(ngModel)]="parameters.userSecret.value"
                               id="userSecret"
                               type="text"
                               class="form-control"
                               placeholder="you can provide a user_secret to secure the api call: ThisIsMyUserSecret">
                    </div>
                    <div class="form-group Flex-1" *ngIf="parameters.jobIdToGet.show">
                        <label for="jobIdToGet">Job id</label>
                        <input [(ngModel)]="parameters.jobIdToGet.value"
                               id="jobIdToGet"
                               type="text"
                               class="form-control"
                               placeholder="The id of the job you want to get">
                    </div>
                    <div class="form-group Flex-1" *ngIf="parameters.jobIdToDelete.show">
                        <label for="jobIdToDelete">Job Id</label>
                        <input [(ngModel)]="parameters.jobIdToDelete.value"
                               id="jobIdToDelete"
                               type="text"
                               class="form-control"
                               placeholder="The id of the job you want to delete">
                    </div>
                    <div class="form-group Flex-1" *ngIf="parameters.jobStatusEvents.show">
                        <label for="jobStatusEvents">Event</label>
                        <input [(ngModel)]="parameters.jobStatusEvents.value"
                               id="jobStatusEvents"
                               type="text"
                               class="form-control"
                               placeholder="event list to subscribe (used comma to separate them)">
                        <small>Example: {{STATUS_EVENTS.join(',')}}</small>
                    </div>
                    <div class="form-group Flex-1" *ngIf="parameters.userToken.show">
                        <label for="userToken">User token</label>
                        <input [(ngModel)]="parameters.userToken.value"
                               id="userToken"
                               type="text"
                               class="form-control"
                               placeholder="user token to identify job">
                    </div>
                    <div class="form-group Flex-1" *ngIf="parameters.resultsTTL.show">
                        <label for="resultsTTL">Results TTL</label>
                        <input [(ngModel)]="parameters.resultsTTL.value"
                               id="resultsTTL"
                               type="number"
                               step="1"
                               class="form-control"
                               placeholder="results time to live">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="closeModal(lgModal)">Ok</button>
            </div>
        </div>
    </div>
</div>