.u-margin-bottom { margin-bottom: 1rem; }
.u-margin-left { margin-left: 1rem; }

.u-collapse { margin: 0; }
.u-collapseBottom { margin-bottom: 0; }
.u-collapseTop { margin-top: 0; }

.u-padding { padding: 1rem; }