<h2 class="u-collapse"> Speech to text Module (Asynchronous HTTP request) </h2>

<section>
  <h3>Documentation</h3>
  <blockquote><a href="https://www.ibm.com/watson/developercloud/speech-to-text.html" target="_blank">
    https://www.ibm.com/watson/developercloud/speech-to-text.html
  </a></blockquote>
</section>

<section>
  <h3>Configuration</h3>
  <pre class="prettyprint" [innerHtml]="config"></pre>
</section>

<div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li routerLinkActive="active"><a [routerLink]="['async']">Asynchronous HTTP Interface </a></li>
            <li routerLinkActive="active"><a [routerLink]="['sync']">HTTP REST Interface </a></li>
            <li routerLinkActive="active"><a [routerLink]="['ws']">WebSocket Interface </a></li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Parameters modal used in stt -->
<div id="parameters" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>