section {
    width: 100%;

    &.m-padding { padding: 1rem; }
}

.whiteSpace-20 {
    width: 20rem;
}

.btn {
    @extend .btn;
    height: 4rem;

    &.m-width-lg {
        min-width: 20rem;
    }
}