<h2 class="u-collapse"> Speech to text Module </h2>

<section>
    <h3>Description</h3>
    <blockquote><a href="https://www.ibm.com/watson/developercloud/speech-to-text.html" target="_blank">
        https://www.ibm.com/watson/developercloud/speech-to-text.html
    </a></blockquote>
</section>

<section>
    <h3>Configuration</h3>
    <pre class="prettyprint" [innerHtml]="config"></pre>
</section>

<section>
    <h3>Local tunnel <small [innerHtml]="localTunnelResponse.url || 'Local tunnel is not started'"></small></h3>

    <div class="Flex">
        <button (click)="localTunnelStart()"
                [disabled]="localTunnelResponse.ready"
                class="btn btn-success btn-fill Flex">

            Start
            <span *ngIf="localTunnelResponse.isLoading"
                  class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
            </span>
        </button>
        <button (click)="localTunnelClose()"
                [disabled]="!localTunnelResponse.ready"
                class="btn btn-default u-margin-left">

            Stop
        </button>
    </div>

    <small>Becareful ! you should use the local tunnel only on your local manchine</small>
</section>

<section>
    <h3>Methods</h3>

    <section>
        <h4>Asynchronous</h4>

        <section>
            <h5>Register callback url</h5>

            <div class="form-group">
                <label for="user_secret">User secret</label>
                <input [(ngModel)]="userSecret"
                       id="user_secret"
                       type="text"
                       class="form-control"
                       placeholder="you can provide a user_secret: ThisIsMyUserSecret">
            </div>

            <div class="Flex">
                <button (click)="registerCallback()" class="btn u-margin-bottom m-width-lg Flex">
                    Register a new callback url
                    <span *ngIf="sttRegisterCallbackResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <pre class="prettyprint Flex-1 u-margin-left" [innerHtml]="sttRegisterCallbackResponse.data || defaultResponse"></pre>
            </div>
        </section>

        <section>
            <h5>Create job</h5>

            <div class="Flex">
                <button (click)="createRecognitionJob()" class="btn u-margin-bottom m-width-lg Flex">
                    Create new job
                    <span *ngIf="sttCreateRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <pre class="prettyprint Flex-1 u-margin-left" [innerHtml]="sttCreateRecognitionJobResponse.data || defaultResponse"></pre>
            </div>
        </section>

        <section>
            <h5>Get jobs</h5>

            <div class="Flex">
                <button (click)="getRecognitionJobs()" class="btn u-margin-bottom m-width-lg Flex">
                    Get all jobs created
                    <span *ngIf="sttGetRecognitionJobsResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <pre class="prettyprint Flex-1 u-margin-left" [innerHtml]="sttGetRecognitionJobsResponse.data || defaultResponse"></pre>
            </div>
        </section>

        <section>
            <h5>Get job</h5>

            <div class="Flex">
                <button (click)="getRecognitionJob()" class="btn u-margin-bottom m-width-lg Flex">
                    Get a specific job
                    <span *ngIf="sttGetRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <pre class="prettyprint Flex-1 u-margin-left" [innerHtml]="sttGetRecognitionJobResponse.data || defaultResponse"></pre>
            </div>
        </section>

        <section>
            <h5>Delete job</h5>

            <div class="Flex">
                <button (click)="deleteRecognitionJob()" class="btn u-margin-bottom m-width-lg Flex">
                    Delete a job
                    <span *ngIf="sttDeleteRecognitionJobResponse.isLoading"
                          class="glyphicon glyphicon-repeat normal-right-spinner Flex-align-item-center u-margin-left">
                    </span>
                </button>
                <pre class="prettyprint Flex-1 u-margin-left" [innerHtml]="sttDeleteRecognitionJobResponse.data || defaultResponse"></pre>
            </div>
        </section>
    </section>

    <section>
        <h4>Synchronous</h4>
    </section>
</section>